<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body id="appBG">
  <nav class="navbar">
    <div class="navbar-logo navbar-start">
      <figure class="image is-96x96 p-3">
        <img id="logo" src="/assets/img/favicon.png" alt="logo" />
      </figure>
        <h1 class="is-vcentered title navbar-item is-black">Gobble!</h1>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-end">
        <div class="navlink m-2"><a id="btn" class="button is-warning navbar-item is-large" href="/profile">Profile</a></div>
        <div class="navlink m-2"><a id="btn" class="button is-danger navbar-item is-large" href="/logout">Log out</a></div>
      </div>
    </div>
  </nav>

<!--Where post form is created-->
  <section id="createPosts" class="container mt-3">

  </section>

  <div>
    
  </div>
<!--Where post are loaded-->
  <section id="posts" class="container">

  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>

</body>

</html>