<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Gobble</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body id="loginBG" class="is-vcentered">

  <div class="bg-image">

  </div>

  <div id="loginBox" class="container is-centered is-vcentered">
    <div class="box columns is-multiline is-centered">

      <h1 class="title is-centered">Welcome to Gobble!</h1>


      <figure class="column is-12 is-centered has-text-centered">
        <img class="image is-centered has-text-centered" id="loginLogo" src="/assets/img/favicon.png" alt="face logo" />
      </figure>

<!--Where login form is created-->
      <section id="content" class="column is-12">

      </section>

<!--notify the user of an error-->
      <div id="jsonMessage" class="column is-12 subtitle has-text-centered has-text-danger has-text-weight-bold">

      </div>

      <h2 class="subtitle column is-12">Dont have an account? Make One By Hitting The Button Below</h2>
      <a class="button is-medium is-primary column is-12" id="signupButton" href="/signup">Sign up</a>
    </div>
  </div>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>