<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar">
    <div class="navbar-menu " id="nav-links">
      <figure class="image is-64x64">
        <a href="/login"><img id="logo" src="/assets/img/eat.png" alt="face logo" /></a>
      </figure>
    
    <div class="navlink"><a class="button is-warning" href="/logout">Log out</a></div>
    <div class="navlink"><a class="button is-primary" href="/maker">Maker</a></div>
    </div>
  </nav>

  <section id="domos" class="container">

  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>

  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/profileBundle.js"></script>
  
</body>

</html>